<div class="container my-container">
  <div class="row my-row">
    <div class="col-md my-col">1 of 2 elo, wojtas elo boczek arnold ziom</div>
    <div class="col-sm my-col">2 of 2 raz dwa trzy cztery pinc</div>
  </div>
  <div class="row my-row">
    <div class="col-sm my-col">1 of 3 szesc siedem oziem</div>
    <div class="col-sm my-col">2 of 3 wojtas wojtas wojtas</div>
    <div class="col-sm my-col">3 of 3 asdlajkd apsod saopdi apsdoalkda</div>
  </div>
</div>
<div id="tlo" class="container obrazki">
  <div class="row no-gutters">
    <div id="konono" class="col-md konon">
      <img id="ksiek" src="./assets/pan-krzysztof.jpg" />
    </div>

    <div id="majoro" class="col-md konon">
      <img id="major" src="./assets/pan-major.jpg" />
    </div>
  </div>
</div>
<div class="text-center">
  <app-counter></app-counter>
  
</div>
