/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

$body-color: red;
$container-color: black;
$row-color:blue;
$col-color: green;
$background-color: pink;

body {
    background: $body-color;
    margin: 30px;
}

.my-container{
border: 1px solid $container-color;
width: auto;
}
.my-row{
border: 3px solid $row-color;
}
.my-col{
border: 3px dotted $col-color;
}
.obrazki{
border: 4px solid $col-color;
//padding: 10px;
display: flex;
justify-content: center;
margin-top: 10px;
width: auto;
position: relative;
visibility: visible;

&--hide {
    #majoro {
    display: none;
    }
    #konono{
    display: none;
    }
}
&--hidesiema{
    #theImg{
    display: none;
    }
}
}
.konon{
//flex:50%;
border: 4px solid $col-color;
visibility: visible;
}
.major{
//flex: 50%;
border: 4px solid $col-color;
visibility: visible;
}
.wyskakuje{
border: 4px solid $col-color;
display: flex;
justify-content: center;
margin-top: 10px;
width: auto;
position: absolute;
}
.text-center{
text-align: center;
}
img{
width: 100%;
height: 100%;
}
.licznik{
margin-top: 5px;
text-align: center;
font-size: 30px;
}